// color

$color-brown: #5A3511;
$color-middle-brown: #A5886C;;
$color-light-gray: #D9D9D9;
$color-white: #ffffff;


// typography

$font-h1: 2.5rem;
$font-h2: 1.25rem;
$font-text: 1rem;

$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// spacing

$spacer: 1rem;


//
$btn-border-radius: 0.5rem;